
.img-post-wrap{
	padding:15px;
}

.img-card{
	position: relative;
	display: flex;
    align-items: center;
	width: 200px;
	height: 200px;
	background: #ddd;
	margin:10px;
	&:hover {
	    .img-msg{
	    	position: absolute;
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	width:100%;
	    	height: 100%;
	    	pointer-events: none;
	    	background: rgba(32,43,54,.5);
	    }
	}

	.img-card-item{
		width: 200px;
	}
	.img-msg{
    	position: absolute;
		display: none;
	}
	span,p,a{
		width: 100%;
		text-align: center;
		color:#fff;
	    word-break: normal;
	    white-space: pre-wrap;
	    word-wrap: break-word;
	    overflow: hidden;
	}
}

@media (max-width:767px) {
	.img-card{
		width: 30%;
		height: auto;
		max-height: 30%;
		margin: 2px;
		a{
			white-space:normal;
		}
	}
}