
<div id="search-box-popup" class="popup search-popup">
    <div class="search-header flex">
        <span class="search-icon">
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </span>
        <div class="search-input-container">
            <input autocapitalize="none" autocomplete="off" autocorrect="off" id="search-box-input" placeholder="Searching..." spellcheck="false" type="text">
            </input>
        </div>
        <span id="popup-btn-close" class="popup-btn-close">
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </span>
    </div>
    <div  style="line-height:32px;overflow:auto;max-height:700px;" >
        <div id="search-box-Msg" class="search-meta"></div>
        <ul class="search-result" id="search-box-result">
        </ul>
    </div>

</div>

