
<div aria-hidden="true" class="setting-box-ex ">
    <button id="setting-box-ex" class="btn btn-default btn-fold" data-original-title="Setting" data-placement="left" data-toggle="tooltip" data-toggle-class=".settings=active, .settings-icon=animate-spin">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="setting-box-head">
        <button id="reset" class="pull-right btn btn-rounded btn-danger" data-original-title="Restore Defaults" data-placement="top" data-toggle="tooltip" name="reset">
            Reset
        </button>
        Setting
    </div>
    <div class="setting_body">
        <div class="setting-wrap">
            <div class="setting-item">
                <label class="i-switch bg-blue pull-right">
                    <input name="header-fixed" type="checkbox" value="1"/>
                    <i>
                    </i>
                </label>
                Fix head
            </div>
            <div class="setting-item">
                <label class="i-switch bg-blue pull-right">
                    <input name="aside-fixed" type="checkbox" value="1"/>
                    <i>
                    </i>
                </label>
                Fix aside
            </div>
            <div class="setting-item">
                <label class="i-switch bg-blue pull-right">
                    <input name="aside-hide" type="checkbox" value="1"/>
                    <i>
                    </i>
                </label>
                Hide aside
            </div>
            <div class="setting-item">
                <label class="i-switch bg-blue pull-right">
                    <input name="layout-boxed" type="checkbox" value="1"/>
                    <i>
                    </i>
                </label>
                Box model
            </div>
        </div>
        <div class="setting-wrap" style="line-height: 30px">
            <p style="float: left; margin-right: 30px;">font size</p>
            <button id="font-add" class="btn btn-dark span-size"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            <button id="font-minus" class="btn btn-dark span-size"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            <p id="sefont_info" style="float: right; margin-right:10px"></p>
        </div>
        <div class="setting-wrap" >
            <p>article read mode</p>
            <div class="flex-row-wrap">
                <label class="span-gap i-checks block">
                    <input type="radio" name="readMode" value="bg-light">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-light span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="readMode" value="bg-yellow">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-yellow span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="readMode" value="bg-dark">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-dark span-inhert"></b>
                    </span>
                </label>
            </div>
        </div>
        <div class="setting-wrap ">
            <p>theme</p>
            <div class="flex-row-wrap">
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-light">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-light span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-dark">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-dark span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-black">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-black span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-yellow">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-yellow span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-blue">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-blue span-inhert"></b>
                    </span>
                </label>
                <label class="span-gap i-checks block">
                    <input type="radio" name="theme" value="theme-primary">
                    <span class="block pos-relative span-size">
                        <span class="pos-absolute select-mask"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <b class="block bg-primary span-inhert"></b>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
