<% if(theme.toc){
    var topic = toc(post.content, {
            class: 'post-toc',
            list_number: theme.toc.list_number
        })
    if(topic) {
%>
    <aside id="toc" class="post-widget">
        <nav class="post-toc-wrap " id="post-toc">
            <title style="display: block; cursor: pointer;">TOC</title>
            <%- topic %>
        </nav>
    </aside>
<% }
} %>
